body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* colors */

/**
primary   	   	#6200EE 
primary-light   #9e47ff
primary-dark	  #0400ba
secondary 	  	#03DAC5
secondary-light #66fff8
secondary-dark  #00a895

*/
